@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bgColor{
    background-color: white;
    margin:  4px ;
    border-radius: 6px;
}

.bgColor:hover{
    background: rgb(219, 235, 250)
}

.filter{
    background-color: transparent;
    padding: 6px 6px;
    border-radius: 10px;
    border: none;
    font-family: Dosis;
    font-size: 16px;
}