@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


*{
    margin: 0;
    padding: 0;
}

.body{
    background: url('https://c4.wallpaperflare.com/wallpaper/804/608/879/pixels-video-games-pixel-art-hyper-light-drifter-wallpaper-preview.jpg') no-repeat center center ;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
}
.glass{
    display: flex;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}    
.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.containerContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerTitle{
    display: flex;
    margin-bottom: 50px;
    animation-duration: 700ms;
    flex-wrap: wrap;
    justify-content: center;
}

.words{
    display: flex;
}
.title{   
    font-weight: 500;
    text-align: center;
    font-size: 4rem;
    color: antiquewhite;
}


.button{
    position: relative;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    color: rgb(209, 209, 209);
    border-radius: 10px;
    background-color: rgba(38, 29, 94, 0.39);
    font-family: 'Dosis', sans-serif;
}

.containerFooter{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
    margin-right: 5px;
    }
.footer{
    display: flex;
    align-items: flex-end;
}

.logo{
    display: flex;
    opacity: 50%;
    border-radius: 50%;
    margin: 2px 6px;
    height: 40px;
}
.logo:hover{
    opacity: 100%;
}

