@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.container{
    justify-content: center;
    display: flex;
    align-items: center;
    padding:  20px 0;
}
.containerPages{
    display: flex;
    align-items: center;
}
.page{
    font-family: Dosis;
    display: flex;  
    align-items: center;
    background-color: rgb(255, 65, 138);
    padding: 10px 15px;
}
.pageActual{
    background-color: rgb(253, 101, 160);    
}

.page:hover{
    background-color: rgb(247, 118, 167);    
    cursor: pointer;
}

.button{
    display: flex;
    padding: 7px 9px;
    align-items: center;
    margin: 0 10px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    color: white;
}

.hiddenButton{
    visibility: hidden;
}
.button:hover{
    cursor: pointer;
    background-color: rgba(123, 162, 206, 0.281);
}
