.separator{
    display: flex;
    padding: 10px 12px;
}

.containerInd{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    background-color: white ;
    width: 280px;
    height: 300px;
    border-radius: 5px;
}

.img{
    image-rendering: pixelated;
    padding-top: 5px;
    width: 95%;
    height: 50%;
}

.platforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.platform{
    display: flex;
    padding: 0 2px;
}
