@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@keyframes agrandar {
    0%{transform: scale(1);}
    100%{transform: scale(1.05);}
}

.separator{
    display: flex;
    box-shadow: 0 0 20px;
}

.containerInd{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 246, 246) ;
    width: 280px;
    height: 305px;
    border-radius: 5px;
    font-family: Dosis, candara
}

.img{
    border-radius: 5px;
    margin-top: 5px;
    width: 95%;
    height: 50%;
}

.platformsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.platformsTitle{
    display: flex;
    font-size: 15px;
    margin-left: 10px;
}
.platformsChilds{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    justify-content: space-around;
}

.platformsChild{
    display: flex;
    margin: 2px 8px;
    background-color: rgb(232, 240, 248);
    flex-wrap: wrap;
    padding: 4px 6px;
    border-radius: 8px;
}

.containerInd:hover{
    animation-name: agrandar;
    animation-duration: 250ms;
    animation-fill-mode: both;
}
.nameVideogame{
    text-align: center;
    padding: 2px;
}